Source: xt7-player
Section: contrib/video
Priority: optional
Maintainer: eloaders <eloaders@linux.pl>
Build-Depends: debhelper (>= 5.0.0), 
  gambas3-dev (>= 3.5), 
  gambas3-dev (<< 3.99.0), 
  gambas3-gb-image (>= 3.5), 
  gambas3-gb-image (<< 3.99.0), 
  gambas3-gb-qt4 (>= 3.5), 
  gambas3-gb-qt4 (<< 3.99.0), 
  gambas3-gb-form (>= 3.5), 
  gambas3-gb-form (<< 3.99.0), 
  gambas3-gb-compress (>= 3.5), 
  gambas3-gb-compress (<< 3.99.0), 
  gambas3-gb-dbus (>= 3.5), 
  gambas3-gb-dbus (<< 3.99.0), 
  gambas3-gb-desktop (>= 3.5), 
  gambas3-gb-desktop (<< 3.99.0), 
  gambas3-gb-form-dialog (>= 3.5), 
  gambas3-gb-form-dialog (<< 3.99.0), 
  gambas3-gb-settings (>= 3.5), 
  gambas3-gb-settings (<< 3.99.0), 
  gambas3-gb-form-mdi (>= 3.5), 
  gambas3-gb-form-mdi (<< 3.99.0), 
  gambas3-gb-libxml (>= 3.5), 
  gambas3-gb-libxml (<< 3.99.0), 
  gambas3-gb-net (>= 3.5), 
  gambas3-gb-net (<< 3.99.0), 
  gambas3-gb-net-curl (>= 3.5), 
  gambas3-gb-net-curl (<< 3.99.0), 
  gambas3-gb-qt4-ext (>= 3.5), 
  gambas3-gb-qt4-ext (<< 3.99.0), 
  gambas3-gb-signal (>= 3.5), 
  gambas3-gb-signal (<< 3.99.0), 
  gambas3-gb-web (>= 3.5), 
  gambas3-gb-web (<< 3.99.0), 
Standards-Version: 3.7.2

Package: xt7-player
Architecture: all
Depends: gambas3-runtime (>= 3.5), 
  gambas3-runtime (<< 3.99.0), 
  gambas3-gb-image (>= 3.5), 
  gambas3-gb-image (<< 3.99.0), 
  gambas3-gb-qt4 (>= 3.5), 
  gambas3-gb-qt4 (<< 3.99.0), 
  gambas3-gb-form (>= 3.5), 
  gambas3-gb-form (<< 3.99.0), 
  gambas3-gb-compress (>= 3.5), 
  gambas3-gb-compress (<< 3.99.0), 
  gambas3-gb-dbus (>= 3.5), 
  gambas3-gb-dbus (<< 3.99.0), 
  gambas3-gb-desktop (>= 3.5), 
  gambas3-gb-desktop (<< 3.99.0), 
  gambas3-gb-form-dialog (>= 3.5), 
  gambas3-gb-form-dialog (<< 3.99.0), 
  gambas3-gb-settings (>= 3.5), 
  gambas3-gb-settings (<< 3.99.0), 
  gambas3-gb-form-mdi (>= 3.5), 
  gambas3-gb-form-mdi (<< 3.99.0), 
  gambas3-gb-libxml (>= 3.5), 
  gambas3-gb-libxml (<< 3.99.0), 
  gambas3-gb-net (>= 3.5), 
  gambas3-gb-net (<< 3.99.0), 
  gambas3-gb-net-curl (>= 3.5), 
  gambas3-gb-net-curl (<< 3.99.0), 
  gambas3-gb-qt4-ext (>= 3.5), 
  gambas3-gb-qt4-ext (<< 3.99.0), 
  gambas3-gb-signal (>= 3.5), 
  gambas3-gb-signal (<< 3.99.0), 
  gambas3-gb-web (>= 3.5), 
  gambas3-gb-web (<< 3.99.0), 
  xbindkeys (>= 1.6), 
  dvb-apps, 
  mplayer, 
  libtagc0 (>= 1.8),
  youtube-dl
Description:Xt7-Player, an (almost) complete mplayer gui
 This program is written in Gambas
